.password-group{
  position: relative;
}
.forgot-link{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.7rem;
}
.forgot-link:hover{
  text-decoration: none;
}
.txt-warn{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
  background-color: ghostwhite;
  border-radius: 6px;
  padding: 10px;
  color: #e72734;
}
