<div class="container">
  <div *ngIf="getApiError;else contentBlock" class="searchError">
    <div class="alert alert-danger" role="alert">
      <strong>Warning!</strong> {{apiErrorMessage}}
    </div>
  </div>
  <ng-template #contentBlock>
  <div class="question-clock">
    <div class="top-line">
      <h1>{{questionTitle}}</h1>
      <a routerLink="" (click)="returnToSearch()"><mat-icon>undo </mat-icon>Return to search</a>
    </div>
    <div class="stats-line">
      <div><span>asked</span> {{questionUserDate | date:'medium'}}</div>
      <div><span>Viewed</span> {{viewCount}} times</div>
    </div>

    <div class="question-body" [innerHTML]="questionBody"></div>
    <div class="question-bottom">
      <div class="tags">
        <a
          href=""
          *ngFor="let tag of questionTags"
          data-bs-toggle="modal"
          data-bs-target="#tagModal"
          (click)="sendTagData(tag)"
        >{{tag}}</a>
      </div>
      <div class="author">
        <div class="user-action-time">asked {{questionUserDate | date:'medium'}}</div>
        <div class="author-bottom">
          <img src="{{questionAuthorImg}}">
          <div class="right">
            <span class="author-name">
              <a
                href=""
                data-bs-toggle="modal"
                data-bs-target="#authorModal"
                (click)="sendAuthorData(questionUserId,questionAuthorName)"
              >
              {{questionAuthorName}}
              </a>
            </span>
            <span class="reputation">{{questionAuthorReputation}}</span>
          </div>
          </div>
      </div>
    </div>
  </div>
  <a name="tab-top"></a>
  <div class="line_sort">
    <h2>{{answersDataLength}} Answers</h2>
    <mat-form-field appearance="fill" *ngIf="+answersDataLength > 1">
      <mat-label>Sort</mat-label>
      <mat-select [(value)]="selectedItem" (selectionChange)="onSortChange($event)">
        <mat-option *ngFor="let item of sortAnswers" value="{{item.sortName}}">
          {{item.sortText}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="isAnswerItems">
    <div class="answers" *ngFor="let item of answersData.items; index as i" >
      <div class="answer-block">
        <div class="num-answer"><span>{{i+1}}</span></div>
        <div class="answer">
          <div class="answer-body" [innerHTML]="item.body"></div>
            <div class="answer-author">
              <div class="author">
                <div class="user-action-time">answered {{item.creation_date*1000 | date:'medium'}}</div>
                <div class="author-bottom">
                  <img src="{{item.owner.profile_image}}">
                  <div class="right">
                    <span class="author-name">
                      <a
                        href=""
                        data-bs-toggle="modal"
                        data-bs-target="#authorModal"
                        (click)="sendAuthorData(item.owner.user_id, item.owner.display_name)"
                      >
                        {{item.owner.display_name}}
                      </a>
                    </span>
                    <span class="reputation">{{item.owner.reputation}}</span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</div>
<app-tag-modal [tagName]="tagName"></app-tag-modal>
<app-search-page-modal [authorName]="authorName"></app-search-page-modal>
